name: publish

on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  publish:
    if: ${{ startsWith(github.head_ref, 'release-') && github.event.pull_request.merged == true }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - run: npm ci
      - run: npm publish --provenance --access public

      - name: Get release version
        uses: xom9ikk/split@v1
        id: split
        with:
          string: ${{ github.head_ref }}
          separator: 'release-'

      - name: Create tag and release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ steps.split.outputs._1 }}
          tag_name: ${{ steps.split.outputs._1 }}
          target_commitish: main
          generate_release_notes: true
